[flake8]
max-line-length = 88

extend-ignore =
    E203,W503,D107,  # Missing docstring in __init__

per-file-ignores = 
    # TODO: Incrementally add missing docstrings
    # D100 Missing docstring in public module
    # D101 Missing docstring in public class
    # D102 Missing docstring in public method
    # D103 Missing docstring in public function
    # D104 Missing docstring in public package
    # D105 Missing docstring in magic method
    kraken/*: D100,D101,D102,D103,D104,D105
    tests/*: D100,D101,D102,D103,D104,D105

exclude =
    kraken/master/protocol,
    kraken/worker/protocol,
    kraken/worker/filesystem/protocol,
    kraken/master/thrift,
    kraken/worker/thrift
    kraken/worker/filesystem/thrift
